*{
box-sizing:border-box;
}

body{
margin:0;
font-family:Tahoma, Arial, sans-serif;
background:#faf7f1;
color:#333;
line-height:1.7;
overflow-x:hidden;
}


/* NAVBAR */

.navbar{
background:#fff;
display:flex;
justify-content:center;
align-items:center;
gap:10px;
flex-wrap:wrap;
padding:12px;
position:sticky;
top:0;
z-index:1000;
box-shadow:0 3px 15px rgba(0,0,0,.08);
}


.navbar a{
text-decoration:none;
color:#a47c45;
background:#faf7f1;
padding:8px 16px;
border-radius:25px;
font-weight:bold;
font-size:14px;
}


/* HEADER */

header{
background:white;
text-align:center;
padding:20px 10px;
}


.logo img{
width:150px;
max-width:80%;
}


header h1{
color:#b08a55;
font-size:30px;
margin:15px 0 5px;
}


header p{
margin:0;
font-size:16px;
}



/* TITLES */

.title{
text-align:center;
color:#a47c45;
font-size:25px;
margin:25px 0;
}



/* PRODUCTS */

.products{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(260px,1fr));

gap:20px;

padding:15px;

max-width:1200px;

margin:auto;

}



.card{

background:white;

border-radius:25px;

padding:18px;

text-align:center;

box-shadow:0 5px 20px rgba(0,0,0,.08);

}



.card img{

width:100%;

height:250px;

object-fit:contain;

border-radius:20px;

}



.card h2{

font-size:19px;

color:#a47c45;

margin:15px 0;

}



.card p{

font-size:15px;

color:#555;

}



/* PRICE */

.price{

font-size:22px;

font-weight:bold;

color:#b07b3c;

margin:12px;

}



/* BUTTONS */


.details,
.order,
.main-btn{

display:inline-block;

padding:12px 25px;

border-radius:35px;

text-decoration:none;

font-weight:bold;

margin:6px;

font-size:14px;

transition:.3s;

}



.details{

background:#b08a55;

color:white !important;

}



.order{

background:#25D366;

color:white !important;

}



.main-btn{

background:#b08a55;

color:white !important;

border:none;

}



/* WHATSAPP */


.whatsapp-float{

position:fixed;

right:18px;

bottom:18px;

width:60px;

height:60px;

background:#25D366;

color:white;

border-radius:50%;

display:flex;

align-items:center;

justify-content:center;

font-size:28px;

z-index:999;

}



/* FOOTER */

footer{

background:white;

text-align:center;

padding:25px;

margin-top:30px;

color:#777;

}



/* MOBILE */

@media(max-width:600px){


.navbar{

gap:8px;

}


.navbar a{

padding:7px 12px;

font-size:12px;

}



.products{

grid-template-columns:1fr;

padding:12px;

}



.card{

width:100%;

}



.card img{

height:230px;

}



header h1{

font-size:25px;

}


.title{

font-size:22px;

}


.details,
.order{

width:90%;

}


}
